@model IEnumerable<MusicWorld.Models.User.UserViewModel>

@{
    ViewData["Title"] = "View";
}

<h1 class="text-center">Users</h1>

<p>
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a class="btn btn-outline-dark" asp-controller="User" asp-action="Edit"  asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-outline-danger" asp-controller="User" asp-action="Delete"  asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
